/* general */

a {
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  color: #F5B105;
  letter-spacing: -0.26px;
  justify-self: start;
  display: inline;
  cursor: pointer;
}

a:hover {
  color: #FAC704;
}

a:active {
  color: #D99E0A;
}
