:root {
  --base-font-size: 15px;
  --scale: 1.333;
  --base-line-height-scale: 1.666;
  --heading-line-height-scale: 1.333;
  --max-letter-spacing: -1px;

  --body-font-size: var(--base-font-size);
  --small-text-font-size: calc(var(--base-font-size) - 2px);
  --overline-font-size: calc(var(--base-font-size) / var(--scale));

  --h3-font-size: calc(var(--base-font-size) * var(--scale));
  --h2-font-size: calc(var(--h3-font-size) * var(--scale));
  --h1-font-size: calc(var(--h2-font-size) * var(--scale));

  --h1-letter-spacing: var(--max-letter-spacing);
  --h2-letter-spacing: calc(var(--h1-letter-spacing) / var(--scale));
  --h3-letter-spacing: calc(var(--h2-letter-spacing) / var(--scale));
  --body-letter-spacing: calc(var(--h3-letter-spacing) / var(--scale));
  --small-letter-spacing: calc(var(--body-letter-spacing) / var(--scale));
  --overline-letter-spacing: calc(var(--small-letter-spacing) / var(--scale));
}


html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #12121c;
  margin: 60px;
  color: white;
  font-family: Gotham;
  font-weight: 500;
}

.pane > * {
  margin: 0;
}

.pane {
  width: 600px;
  margin-right: 60px;
  float: left;
}

h1, h2, h3 {
  font-weight: 500;
}

.scale > h1 {
  font-size: var(--h1-font-size);
/*  line-height: var(--heading-line-height-scale); */
  line-height: 45px;
  letter-spacing: var(--h1-letter-spacing);

}

.scale > h2 {
  font-size: var(--h2-font-size);
/*  line-height: var(--heading-line-height-scale); */
  line-height: 35px;
  letter-spacing: var(--h2-letter-spacing);
  margin-top: 14px;
}

.scale > h3 {
  font-size: var(--h3-font-size);
/*  line-height: var(--heading-line-height-scale); */
  line-height: 25px;
  letter-spacing: var(--h3-letter-spacing);
  margin-top: 18px;

}

.scale > .body {
  font-size: var(--base-font-size);
/*  line-height: var(--base-line-height-scale); */
  line-height: 25px;
  letter-spacing: var(--body-letter-spacing);
  margin-top: 17px; /* font size × scale */
}

.scale > .small {
  font-size: var(--small-text-font-size);
/*  line-height: var(--base-line-height-scale); */
  line-height: 20px;
  letter-spacing: var(--small-letter-spacing);
  margin-top: 18px;

}

.scale > .overline {
  font-size: var(--overline-font-size);
/*  line-height: var(--base-line-height-scale); */
  line-height: 15px;
  letter-spacing: var(--overline-letter-spacing);
  margin-top: 18px;

}

.rounded > h1 {
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -1;
}

.rounded > h2 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.5;
  margin-top: 18px;
}

.rounded > h3 {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.3;
  margin-top: 17px;
}

.rounded > .body {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.3;
  margin-top: 16px;
}

.rounded > .small {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0;
  margin-top: 18px;
}

.rounded > .overline {
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0;
  margin-top: 18px;
}
